{% extends 'base.html' %}

{% block content %}
    <h1>Route-O-Matic</h1>

	<p>
	Route-O-Matic is a web application to a database of car club event/run
	routes. The routes and information about each route can be displayed
	in a format that is suitable for printing.
	</p>
	<p>
	You are using the public version of the app. This version is restricted
	to viewing only. The ability to create/edit/delete routes is prohibited.
	</p>

	<h3>A brief history</h3>
	<p>
	Route-O-Matic is the brainchild of Robert Paauwe. The first iteration
	was based on a mysql database and PHP backend code. It was replaced
	by a VUE base web application using the same mysql database after
	browsers became more picky about what they would allow to be loaded.
	This latest iteration is written using Python/Flask with a sqlite3
	database.
	</p>
{% endblock %}
