{% extends 'base.html' %}

{% block content %}
    <h1>Route-O-Matic</h1>

	<p>
	Route-O-Matic is a web frontend to a database of rally type routes. The routes
	and information about each route is saved and can be later edited or displayed
	in a format suitable for printing.
	</p>

	<p>
	Route-O-Matic was the brainchild of Robert Paauwe.  The first iteration was
	based on a mysql database and PHP backend code.  It was replaced by a VUE
	base web application using the same mysql database after browsers became
	more picky about what they would allow to be loaded.  This latest 
	iteration is written using Python/Flask with a sqlite3 database.
	</p>
{% endblock %}
