{% extends 'base.html' %}

{% block content %}
    <h1>Route-O-Matic Documentation</h1>
	<p>
	When the app starts, it displays the main naviation menu along the top.
	Below that is some text about the app.  And below that is the main
	interface to the routes.
	</p>
	<h2>Navigation</h2>
	<p>
	Top/Left is "Route-O-Matic". Clicking this will always bring you back
	to the main screen.
	</p>
	<p>
	Next is "About". This takes you to a page with a bit of information about
	the app.
	</p>
	<p>
	Then comes "Documentation". This is what you're reading now.
	</p>
	<p>
	Last is "Login". Having a valid account might eventually provide some
	additional capabilities. Currently, it does nothing.
	</p>
	<h2>Main interface to the routes</h2>
	<p>
	First is the <b>route selector drop down</b>.  Clicking this will show all the
	routes in the system by title.  Selecting one will allow you to view/print
	the route.
	</p>
	<p>
	<b>Print format</b> is another drop down. This determines the output
	format you get when you select <b>Printable</b>. The available formats
	are:
	<ol>
		<li><b>default</b> - A casual format that looks nice when printed.</li>
		<li><b>Spreadsheet</b> - Formatted like a spreadsheet with each element in a cell with borders.</li>
		<li><b>Rallymaster</b> - Some routes may have additional notes embedded that are for the event leader/rallymaster. This is formatted like the <b>default</b> format but includes those extra notes.</li>
	</ol>
	</p>
	<p>
	The <b>Printable</b> button will generate a print ready page. You should
	be able to send this page to your printer directly. You may have to adjust
	some print settings like headers/footers. Use your browser's back button
	to get back to the main interface.
	</p>
	<p>
	The <b>Edit</b> button currently does nothing. Additional features may 
	make use of it in the future.
	</p>
	<p>
	Below all the controls is a text box. When you select a route, the route
	description will show up in this box.
	</p>

	<h2>Final notes</h2>
	<p>
	The public version you are using was adapted from a private version
	that was used to enter all of the available routes.
	</p>
	<p>
	* Many of these routes were created in the early 2000's and are now 20 to
	26 years old.<br>
	* Some of the businesses used for start/finish locations
	may no longer exist.<br>
	* Some of the roads may have been re-aligned or are
	no longer suitable for car club events.<br>
	* The routes were entered based on the material provided by the original
	author of the event.<br>
	* <b>Make sure you check out the route before using it for an event!</b>
	</p>
{% endblock %}
