{% extends 'base.html' %}

{% block content %}
	<h1>{% block title %} Welcome to Route-O-Matic {% endblock %}</h1>
	<p>
	Select the route you want from the drop down menu. Selecting a route
	will display it's description below. The <b>Printable</b> button will
	generate a print-ready page with the entire route.
	</p>
	<form method="POST">
	<div class="row">
    <div class="col-md-12">
      <div class="input-group mb-3">
		<table>
		<tr>
		<td>
        <select name="Route" id="Route">
		{% for route in routes %}
			{% if route['public'] == 1 %}
			{% if last_id == route['id'] %}
			<option selected value="{{route['id']}}">{{route['id']}} - {{route['title']}}</option>
			{% else %}
			<option value="{{route['id']}}">{{route['id']}} - {{route['title']}}</option> 
			<!-- <option value="{{route[0]}}">{{route[0]}} - {{route[1]}}</option> -->
			{% endif %}
			{% endif %}
		{% endfor %}
        </select>
		</td>
		<td>
			Print format:
			<select name="printFormat", id="printFormat">
				{% if printformat == 'default' %}
					<option selected value="HTML"">default</option>
				{% else %}
					<option value="HTML"">default</option>
				{% endif %}

				{% if printformat == 'PCA' %}
					<option selected value="PCA"">Spreadsheet</option>
				{% else %}
					<option value="PCA"">Spreadsheet</option>
				{% endif %}

				{% if printformat == 'RM' %}
					<option selected value="PCA"">RallyMaster</option>
				{% else %}
					<option value="RM"">RallyMaster</option>
				{% endif %}
			</select>
		</td>
		<td><input type="submit" name="action" class="btn btn-primary" value="Printable"></td>
		<td>&nbsp;</td>
		<td><input type="submit" name="action" class="btn btn-primary" value="Edit"></td>
		</tr>
		<tr>
		<td colspan=5>
		<textarea style="text-align: left;" name="r_desc" id="r_desc" rows=10 cols=80 >
        </textarea>
		</td>
		</tr>
		</table>
      </div>
    </div>
  </div>
  </form>
{% endblock %}

{% block scripts %}
<script charset="utf-8" type="text/javascript">
	$(function() {
		var route_select = $('#Route'),
			textarea = $('#r_desc');

		route_select.on('change', function() {
			getRouteDescription();
		});

		function getRouteDescription() {
			var send = { route: route_select.val() };

			$.get("/_get_description", send, function(response) {
				textarea.val(response);
			});
		}
	});
</script>
{% endblock scripts %}
